body{
	background:  #192d40 url('../../images/bg.jpg') repeat-x;
	color:#fff; 
}
.container{
	margin:0 auto;
	width:780px;
	font-size:15px;
	line-height:25px;}

a.a1:link{
	color:#fff;
	text-decoration:none;}
a.a1:visited{color:#fff;}
a.a1:hover{color:#CCC}

