body{
	background:  #192d40 url('../../images/bg.jpg') repeat-x;
	color:#fff; 
}
.container{
	margin:0 auto;
	width:780px;
	font-size:15px;
	line-height:25px;}
a.a1:link{
	color:#fff6b0;
	font-size:16px;}
a.a1:visited{
	color:#fff6b0;}
a.a1:hover{
	text-decoration:none;}
